@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
html,
body {
  
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}

:root {  
    --primary-color: #1D5C23;
    --secondary-color: #3C763D;
    --background-color: #101C10;
    --white-color: #fdfdfd;
    --dark-green: #112111;
    --lightgreen-color: #EBF7EC;
    --green-color: #38B143;
    --highlight-green: #67CB69;
    
  }

a {
  text-decoration: none;
  cursor: pointer;
}


li{
  list-style-type: none;
  cursor: pointer;
  color: var(--white-color);
}